html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

footer {
    color: #333;
    font-size: 1.2rem;
}

div {
    margin: 40px auto;  /*40px em cima e 40px embaixo e as laterais automaticas pra deixar o objeto centralizado*/
}

/* criando um circulo */

#grafico-01 {
    background-color: brown;
   width: 400 auto;
    height: 400 auto;
    overflow: hidden;
    border-radius: 50%;
}

#grafico-01 img {
    width: 100%;
}

/* criando um triangulo */

#grafico-02 {
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

/*Filtros*/

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333); /*sombra*/
    max-width: 100%;
    
}

.filtro {
    filter: grayscale(100%); /* escala cinza */
    filter: blur(5px); /* da um efeito desfocado 100% é igual ao normal */
    filter: brightness(50%); /* brilho */
    filter: invert(100%); /*inversçao de cores*/
    filter: opacity(50%); /*opacidade*/
    filter: saturate(200%) sepia(100%); /*combinar filtros separados por espaço*/
}

.filtro:hover {
    filter: grayscale(0%); /* volta ao estado normal quando passa o mouse emcima */
}